* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html {
    font-size: 62.5%;
    color-scheme: dark;
}
body {
    font-size: 1.4rem;
}
ul {
    list-style: none;
}
html, body {
    background-color: #181a1b;
    color: #e8e6e3;
}
header {
    width: 100%;
    height: 100px;
    color: cadetblue;
    background-color: black;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header nav ul li {
    display: inline;
    padding-left: 10px;
}
nav a, nav a:visited {
    color: deepskyblue;
}
nav a:hover {
    color:indianred;
}
footer {
    width: 100%;
    background-color: darkcyan;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: center;  
    color: #ffffffaa    ;
}
footer a {
    color: #ffffffaa;
    text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
aside {
    width: 35%;
    padding: 20px 5%;
}
main {
    width: 65%;
    padding: 0 5%;
}
article {
    padding: 30px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
article .content {
    width: 70%;
}
article figure {
    width: 30%;
}
article figure img {
    width: 90%;
}
article figure figcaption {
    text-align: center;
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 0.8rem;
}
article ul {
    margin-left: 2rem;
}