* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    color: cadetblue;
    background-color: black;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
header nav ul li {
    display: inline;
    padding-left: 10px;
}
footer {
    width: 100%;
    height: 100px;
    background-color: darkcyan;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
aside {
    width: 30%;
    padding: 20px 5%;
}
main {
    width: 70%;
    padding: 0 5%;
}
article {
    padding: 20px 0;
}